<div >	
	<p> Lorem ipsum index </p>
	<div id='imgur_upload' style="width: 100%; height: 200px;">
		<form id="userForm" enctype="multipart/form-data" data-remote="true" data-ajax="false">
  		<input type="hidden" name="key" value="3e1abddad6fba082f7d20aa9ea3ef783" />
  		<input type="file" name="image" />
		<input type="submit" name="form-submit" value="Send" />
		</form>
	</div>
	<div id='map_canvas' style="width: 100%; height: 400px;"></div>
</div>
<script>
		// initialise the google map
		var map = new google.maps.Map(document.getElementById('map_canvas'), {
		    center: new google.maps.LatLng(40.723844,-73.995667),
		    zoom: 17,
		    mapTypeId: google.maps.MapTypeId.SATELLITE,
		    mapTypeControl: false
		});
        map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
		Reinvent(function(env) {
		  Reinvent.app = new env.app.Instance(map, {
		        logging       : true,
				imgur_form_id : 'imgur_upload'
		    });
		  Reinvent.app.run();
		  Reinvent.env = env;
		});
</script>
