<section id="front_page">	
  <div id='main-image' style="background-image: url('http://i.imgur.com/EUkZq.jpg')">
  </div>
	<hgroup>
    <h1>This lot has been abandoned for years.</h1>
    <h1 class="reinvent_it">Let's reinvent it.</h1>
	</hgroup>
	<div id='fake-gallery'>
		<div id="name"></div>
		<div id="address"></div>
		<div id="images" style="width: 100%; float: left"></div>
    <div id="twitter_actions">
    </div>
    <div id="twitter_feed">
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js" /></script>
      <div id="twitter_wrap">
      </div>
    </div>
	</div>
</section>
<section id="start_the_discussion">
  <div id='imgur_upload' >
    <div class="form_header">Know an underused lot in NYC? <div>Start the discussion.</div></div>
    <form id="userForm" enctype="multipart/form-data" data-remote="true" data-ajax="false">
      <input type="hidden" name="key" value="3e1abddad6fba082f7d20aa9ea3ef783" />
      <div class="file_input_wrapper">
        <div class="pseudo_file_input">Start by Uploading a Photo</div>
        <input type="file" name="image" onchange="$('#pseudo_file_input').text($(this).val());" />
      </div>
      <input type="text" id="place_name" name="place_name" placeholder="What's the common name for this place?" />
      <input type="submit" name="form-submit" value="Reinvent it!" />
    </form>
  </div>
  <div id='map_wrapper'>
	<div id='current_address'></div>
    <div id='map_canvas'></div>
  </div>
</section>
<section>
<!-- <section id="add_new_photo">
  <div id='imgur_upload' >
    <div class="form_header">Have more photos? <div>Add them here...</div></div>
    <form id="userFormAdd" enctype="multipart/form-data" data-remote="true" data-ajax="false">
      <input type="hidden" name="key" value="3e1abddad6fba082f7d20aa9ea3ef783" />
      <div class="file_input_wrapper">
        <div class="pseudo_file_input">Start by Uploading a Photo</div>
        <input type="file" name="image" onchange="$('#pseudo_file_input').text($(this).val());" />
      </div>
      <input type="text" id="place_name" name="place_name" placeholder="What's the common name for this place?" />
      <input type="submit" name="form-submit" value="Reinvent it!" />
    </form>
  </div>
</section> -->
<script>
		// initialise the google map
		var map = new google.maps.Map(document.getElementById('map_canvas'), {
		    center: new google.maps.LatLng(40.723844,-73.995667),
		    zoom: 17,
		    mapTypeId: google.maps.MapTypeId.SATELLITE,
		    mapTypeControl: false
		});
		
        var map_style = {};
        map_style.google_maps_customization_style =  [ { featureType: "administrative", elementType: "geometry", stylers: [ { invert_lightness: true }, { lightness: 84 }, { gamma: 1.96 }, { saturation: -41 } ] },{ elementType: "labels.icon", stylers: [ { weight: 0.5 }, { lightness: -35 }, { visibility: "off" } ] },{ featureType: "road", stylers: [ { invert_lightness: true }, { weight: 1.6 }, { lightness: -14 }, { saturation: -2 } ] },{ featureType: "road", elementType: "labels.text", stylers: [ { visibility: "on" }, { lightness: -24 }, { saturation: -94 }, { invert_lightness: true } ] },{ featureType: "administrative", elementType: "labels", stylers: [ { visibility: "off" } ] },{ featureType: "road", elementType: "geometry", stylers: [ { invert_lightness: true }, { saturation: -78 }, { lightness: 6 }, { gamma: 0.88 } ] } ];
        map.setMapTypeId(google.maps.MapTypeId.ROADMAP);
        map.setOptions({styles: map_style.google_maps_customization_style});

		Reinvent(function(env) {
		  Reinvent.app = new env.app.Instance(map, {
		        logging       : true,
				imgur_form_id : 'imgur_upload'
		    });
		  Reinvent.app.run();
		});
</script>
