<html>
  <head>
    <title><%= @title || "Reinvent Lots"%></title>
    <meta name="description" content="Reinvent Lots is an app that enables us to comment, suggest, ask, or otherwise talk about any location in the city. Have an idea for the vacant lot across the street? Curious about the abandoned candy factory? Post pictures and your commentary via your twitter account.">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.9&sensor=true"></script>
	  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/javascripts/libs/class.js"></script>
    <script type="text/javascript" src="/javascripts/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/pti4vmg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33064818-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script>
    </script>
  </head>
  <body>
    <header>
      <hgroup>
        <a href="/"><h1>Reinvent Lots</h1></a>
      </hgroup>
      <a id="map_icon_link" href="javascript:void(0);">
        <img id="map_icon" src="/images/googleMapsIcon.png" />
      </a>
    </header>
    <div id="content">
      <%= yield %>
    </div>
    <div style="clear: both; height: 150px;"></div>
    <footer>&copy; 2012 - Made in Brooklyn <%= link_to "https://twitter.com/#!/search/%23reinventgreen", "#ReinventGreen" %></footer>
  </body>
</html>
