<html>
  <head>
    <title><%= @title || "Reinvent Lots"%></title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wire+One:regular">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.9&sensor=true"></script>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/javascripts/libs/class.js"></script>
    <script type="text/javascript" src="/javascripts/libs/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
    <!-- <link rel="icon" href="/favicon.ico"> -->
  </head>
  <body>
    <nav>
      <%= link_to "/about" %>
    </nav>
    <div>
      <h1>Reinvent Lots</h1>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
