// RESET
@import "compass";
@include global-reset;
@include reset-html5;
// END RESET

// COLORS
$text-color: #000;
$bg-color: #fff;
$header-bg: whiteSmoke;
$theme-highlight: #5C832F;

// FONTS

$sans: "ff-meta-web-pro", "Helvetica Neue", Arial, sans-serif !default;
$serif: "ff-meta-web-pro", serif !default;
$mono: Menlo, Monaco, "Courier New", monospace !default;
$heading-font-family: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$header-title-font-family: "ff-meta-web-pro", sans-serif;
$header-subtitle-font-family: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

.heading { font-family: $heading-font-family; }
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body > header {
  a, h1 {
    text-decoration: none;
  }
  h1 {
    @extend .heading;
    font-family: $header-title-font-family;
  }
  h2 {
    font-family: $header-subtitle-font-family;
  }
}

body {
  line-height: 1.5em;
  color: $text-color;
  @extend .serif;
  #fake-gallery {
    #address {
      font-size: 0.8em;
    }
  }
  footer {
    text-align: center;
  }
}

h1 {
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.2em;
}
p { font-size: 16px; }

// *::moz-selection, ::selection {
//   color: $text-highlight-color;
//   background: $text-highlight-bg;
//   text-shadow: darken($text-highlight-bg, 60) 0 0 5px;
// }

@media only screen and (min-width: 900px) {
  #content { font-size: 1.1em; }
  h1 { font-size: 2.6em; line-height: 1.2em; }
}
// END FONTS

// LAYOUT + COLOR APPLICATIONS
html { height: 100% }
body {
  position: relative; // Sticky Footer, no touchy!
  min-height: 100%; // Sticky Footer, no touchy!
  max-width: 860px;
  margin: 0 auto;
  background-color: $bg-color;
  background: url('/images/cubes.png');
  > header {
    margin-bottom: .6em;
    background-color: $header-bg;
    border-bottom: 1px solid $theme-highlight;
    h1 {
      text-indent: -9999em;
      overflow: hidden;
      background-image: url('/images/logo.png');
      background-repeat: no-repeat;
      background-position: 15% 50%;
      background-size: 72%;
      height: 62px;
      max-width: 350px;
    }
  }
  #content {
    section {
      padding: 2em 0 36px;
    }
    section#front_page {
      position: relative;
      overflow: hidden;
      #main-image { // floats behind rest of section
        position: absolute;
        z-index: -1;
        background-position: 50% 300px; // HACK HACK HACK.
        height: 700px;
        width: 100%;
        left: 0;
        top: 0;
      }
      hgroup {
        margin: 0 0.5em;
        color: $bg-color; // inverse!
        text-shadow: $text-color 1px 1px 3px;
      }
      #fake-gallery { display: none; }
      // DESKTOP # FRONT PAGE
      @media only screen and (min-width: 900px) {
        #main-image {
          background-position: 50% 60%; // HACK HACK HACK.
          zoom: 77%; // Screw photoshop, this is hack country.
        }
        hgroup {
          margin-top: 4em;
          margin-left: 11em;
          max-width: 75%;
        }
        #fake-gallery {
          display: block;
          float: right;
          margin-bottom: 1em;
          width: 50%;
        }
      }
    }
  }
  footer {
    position: absolute;
    right: 2em;
    bottom: 0;
    height: 28px;
    color: desaturate($theme-highlight, 25);
  }
}

